@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", serif; */
/* Nav styles */
* {
    font-family: "Work Sans", serif;
    padding: 0;
    margin: 0;
}

body {
    /* background-color: aquamarine;
    overflow-x: hidden; */
}
nav h3 {
    font-size: 45px;
    font-weight: 800;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 155px;

}


nav ul {
    display: flex;
    align-items: center;
    gap: 50px;

}

nav ul li {
    list-style: none;
}

header {
    padding-top: 50px;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left, right bottom;
    background-color: #FFF8F3;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
}

header div div h4 {
    color: #474747;
    font-size: 45;
    font-weight: 600;
}

header div div h1 {
    font-size: 85px;
    font-weight: bold;
}

.banner-content {
    max-width: 580px;
}

.banner-content h4 {
    margin-left: 8px;
    margin-bottom: 20px;
    margin-top: 250px;
    font-size: 40px;
    font-weight: 400;
}

.banner-discription {
    margin-bottom: 50px;
}

.marr {
    margin-bottom: 20px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 155px;
}


@media screen and (max-width:576px) {

    nav {
        flex-direction: column;
        gap: 10px;
        margin: 0;
    }
    .banner{
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;
    }

    header {
        padding-top: 50px;
        background-image: url(../images/developer.png), url(../images/header_bg.png);
        background-repeat: no-repeat;
        background-position: left, right;
        background-color: #FFF8F3;
    }
    .banner img{
        margin-top: 295px;
        width: 100%;
    }
    nav{
        margin: 0px;
    }
}

.infolist {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

/*shared style*/

.dark2 {
    color: #757575;
}

.btn {
    color: white;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.infolist li {
    margin-top: 40px;
    text-align: center;
    list-style: none;
}

.dr {
    color: rgb(61, 61, 61);
    font-weight: bolder;
    font-size: 20px;
}

.div {
    border-radius: 50px;
    text-align: center;
    width: 827px;
    height: 288px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.tit {
    font-weight: 400px;
    font-size: 20px;
}

.ct {
    margin-right: auto;
    margin-left: auto;
    font-weight: 400px;
    margin-top: 50px;
    font-size: 18px;
}


@media screen and (max-width: 576px) {
    .btn {
        color: white;
        background-color: #FD6E0A;
        font-size: 16px;
        padding: 12px 30px;
        border-radius: 5px;
        border: none;
    }
    .div{
        width: 90vw;
    }
    .ct{
        width: 90vw;
        font-size: 16px;
    }
    .infolist{
        flex-direction: column;
        gap: 10px;
    }
}

section{
    margin-left: auto;
    margin-right: auto;
}

/* Section */
.section {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    width: 1140px;
    height: 560px;
    background-color: #FFF8F3;
}

.lowersec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:576px) {
    .lowersec {
        width: 90vw;
    }
    .section{
        height: 900px;
        width: 100%;
    }
}

.lowersec>h2{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}

.wt {
}  

.pra {
    padding-top: 50px;
    text-align: center;
    width: 800px;
    margin: auto;
}

@media screen and (max-width:576px) {
    .pra {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
}

.lsec {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


@media screen and (max-width:576px) {
    .lsec {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}


.card {
    width: 200px;
    height: 290px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
}

@media screen and (max-width:576px) {
    .card {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}

.cardint {
    color: rgb(24, 24, 24);
    font-size: 20px;
    margin-top: 20px;
}

.ctc {
    font-weight: 400px;
    margin-top: 20px;
    font-size: 16px;
}

.last {

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

@media screen and (max-width:576px) {
    .last {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}

.eduction {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
}

.uni {
    margin-top: 10px;
}

.eduction h2 {
    font-size: 34px;
}

.ecy {
    margin-bottom: 30px;
}

.msc {
    margin-bottom: 30px;
}

.but {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;

}

footer {
    background-color: #FFF8F3;
    height: auto;
    display: flex;
    gap: 50px;
    margin-right: 0px;
    
}

.fotcont{
    display: flex;
    margin-bottom: 100px;
}

@media screen and (max-width: 576px) {
    .fotcont{
        flex-direction: column;
        gap: 20px;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .but{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

.connect {
    margin-top: 150px;
    margin-left: 220px;
    width: 590px;
}


.connect img {
    margin: 20px 10px;
}

.dd {
    font-weight: 400px;
}

.mes {
    margin-top: 150px;
    margin-left: 100px;
}

.el {
    display: block;
}

.in {
    font-size: 16px;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    width: 400px;
}

.in:focus {
    outline: none;
}

.tx {
    margin-top: 30px;
    border: none;
    width: 400px;
    padding: 20px 30px;
    resize: none;
}

.tx:focus {
    outline: none;
}

.dn {

    margin-top: 50px;
}

@media screen and (max-width: 576px) {
    .title{
        font-size: 18px;
    }
    .uni {
        font-size: 17px;
    }
    .ecu{
        font-size: 16px;
        
    }

    .tx{
        width: auto;
    }
    .in{
        width: auto;;
    }
    .connect h1{
        margin-left: 50px;
    }
    .connect {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 80vw;
    }

    .dd {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
        width: 70vw;
    }

    .mes {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
        width: 100%;
    }
}

.hide {
    display: none;
}